.read-more_container {
  margin-top: 30px;
  overflow: hidden;
  line-height: 1.5;
  margin-bottom: 30px;
}
.read-more_container.is-collapsed {
  height: 400px;
}
.read-more_container.is-expanded {
  height: auto;
}
